.shiny-plot-output {
  margin-bottom: 1px; /* Adjust the margin as needed */
}

.value-box .value {
  font-size: 20px; /* Change the size as needed */
}

body {
  font-size: 12px; /* Change the size as needed */
}

h3 {
  font-size: 20px; /* Change the size as needed */
}
