.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Roboto;
}

#section-column {
  padding-left: 500;
}

.chart-title {
    border-bottom: 1px solid #BEBEBF;
    font-size: 0.9375rem;
    font-weight: 300;
    padding: 7px 10px 4px;
    font-family: Roboto;
}
