.quarto-title-block .quarto-title-banner {
  background: url(images/zz_linkedin.jpg), linear-gradient(90deg, rgba(73,114,143,1) 0%, rgba(73,114,143,1) 60%,  rgba(46,70,95,1) 100%);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 120px;
}

